#name{
    color: white;
    background-color: #4aaaa5;
    border: 2px solid #4aaaa5;
    font-size: 32px;
    margin-left: 150px;
    float: left;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about, #portfolio{
    color: grey;
    float: right;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#contact{
    color: grey;
    float: right;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 100px;
}

header > h2{
    margin-top: 30px;
    margin-right: 50px;
}
#top{
    border-bottom: 2px solid grey;
    background-color: white;
}

#top::after{
    content: "";
    clear: both;
    display: table;
}

#body{
    margin: 50px 150px 50px 150px;
    border: 5px solid #4aaaa5;
    background-color: white;
    padding: 20px;
    line-height: 50px;
    height: 770px;
}   

#aboutme{
    padding-top: 20px;
    font-size: 32px;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    color: #4aaaa5;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    padding-top: 20px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottom{
    color: white;
    text-align: center;
    background-color: grey;
    position: absolute;
    width: 100%;
    border-top: 5px solid #4aaaa5;
}

img{
    float: left;
    width: 400px;
    padding-right: 10px;
    padding-top: 25px;
}

/*Portfolio*/

#img1, #img2, #img3, #img4, #img5{
    box-sizing: border-box;
}

/* Contact*/

form{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
}

#butt{
    margin-top: 20px;
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
    padding: 5px 15px 5px 15px;
    border: 1px solid white;
}
