header > h2{
    margin-top: 30px;
    margin-right: 50px;
}

#top::after{
    content: "";
    clear: both;
    display: table;
}

.bottom{
    color: white;
    text-align: center;
    background-color: grey;
    position: absolute;
    width: 100%;
    border-top: 5px solid firebrick;
    padding: 15px;
}

img{
    float: right;
    width: 400px;
    padding-right: 10px;
    padding-top: 25px;
}

/* ---------------------------- NEW CHANGES ----------------------------*/

.wallpaper {
    background-size: cover;
}

.bodyDiv{
    margin: 50px 150px ;
    border: 5px solid lightsteelblue;
    background:rgba(255,255,255,0.8);
    padding: 30px;
    padding-bottom: 80px;
    font-size: 20px;
    line-height: 30px;
    height: 100%;
    border-radius: 10px;
}   

#navBar {
    float: right;
}

.navButton {
    padding: 10px;
    margin: 20px 40px 20px 20px;
    color: white;
    font-family: 'Electrolize', sans-serif;
}

#name{
    color: white;
    background-color: firebrick;
    border: 2px solid firebrick;
    font-size: 32px;
    margin-left: 150px;
    float: left;
    padding: 25px;
    font-family: 'Electrolize', sans-serif;
}

#top{
    border-bottom: 2px solid grey;
    background:rgba(255,255,255,0.8);
}

.bodyHeader{
    padding-top: 20px;
    font-size: 64px;
    border-bottom: 2px solid firebrick;
    padding-bottom: 60px;
    color: firebrick;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 5px;
}

.userInfo {
    width: 50%;
}

.userInput {
    width: 70%;
    height: 200px;
}

.submitBtn {
    padding: 10px;
    margin-top: 20px;
}

.bodyTitles {
    font-size: 48px;
    color: firebrick;
    font-family: 'Electrolize', sans-serif;
    margin: 40px 0;
}

.info:link {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

.info:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

.info:hover {
    color: firebrick;
    background-color: transparent;
    text-decoration: none;
}

.info:active {
    color: orange;
}

.textStyle {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.moreInfo {
    color: navy;
    font-family: 'Electrolize', sans-serif;
    padding-bottom: 5px;
}

.contactInfo {
    color: navy;
    font-family: 'Electrolize', sans-serif;
    padding: 10px 0px;
}
#myName {
    font-size: 32px;
}

.myInfo {
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body1, #body2, #body3 {
    padding-bottom: 25px;
    padding-top: 20px;
}

#inbox {
    padding-top: 20px;
}